/*
	Kube Framework 5
*/
/* =Reset
-----------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  box-sizing: content-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
button {
  width: auto;
  overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  margin-right: 3px;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* =Typography
-----------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 24px;
  background: #fff;
  color: #202020;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #256bc9;
}
a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #e21e3b;
}
/* =Headings
-----------------------------------------------------------------------------*/
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000;
  text-rendering: optimizeLegibility;
}
.title,
h1 {
  margin-bottom: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
}
.title,
h1,
h2,
h3,
h4 {
  margin-left: -1px;
}
.title {
  font-size: 4.8rem;
  line-height: 56px;
}
h1 {
  font-size: 3rem;
  line-height: 32px;
}
h2 {
  font-size: 2.4rem;
  line-height: 32px;
}
h3 {
  font-size: 2rem;
  line-height: 24px;
}
h4 {
  font-size: 1.8rem;
  line-height: 24px;
}
h5 {
  font-size: 1.6rem;
  line-height: 24px;
}
h6 {
  font-size: 1.5rem;
  line-height: 24px;
  text-transform: uppercase;
}
/* =Line height and margin */
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 24px;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
/* =Grid
-----------------------------------------------------------------------------*/
row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
row column {
  margin: 0;
  padding: 0;
  margin-right: 24px;
}
row column:last-child {
  margin-right: 0;
}
row[end] {
  margin-bottom: 0;
}
row[split] column {
  margin-right: 0;
}
row[centered] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
row[around] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
row[between] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
column[cols="1"] {
  width: 8.33333333%;
}
column[cols="2"] {
  width: 16.66666667%;
}
column[cols="3"] {
  width: 25%;
}
column[cols="4"] {
  width: 33.33333333%;
}
column[cols="5"] {
  width: 41.66666667%;
}
column[cols="6"] {
  width: 50%;
}
column[cols="7"] {
  width: 58.33333333%;
}
column[cols="8"] {
  width: 66.66666667%;
}
column[cols="9"] {
  width: 75%;
}
column[cols="10"] {
  width: 83.33333333%;
}
column[cols="11"] {
  width: 91.66666667%;
}
column[cols="12"] {
  width: 100%;
}
column[offset="1"] {
  margin-left: calc(9.53333333%);
}
column[offset="2"] {
  margin-left: calc(17.86666667%);
}
column[offset="3"] {
  margin-left: calc(26.2%);
}
column[offset="4"] {
  margin-left: calc(34.53333333%);
}
column[offset="5"] {
  margin-left: calc(42.86666667%);
}
column[offset="6"] {
  margin-left: calc(51.2%);
}
column[offset="7"] {
  margin-left: calc(59.53333333%);
}
column[offset="8"] {
  margin-left: calc(67.86666667%);
}
column[offset="9"] {
  margin-left: calc(76.2%);
}
column[offset="10"] {
  margin-left: calc(84.53333333%);
}
column[offset="11"] {
  margin-left: calc(92.86666667%);
}
.width-1 {
  width: 8.33333333%;
}
.width-2 {
  width: 16.66666667%;
}
.width-3 {
  width: 25%;
}
.width-4 {
  width: 33.33333333%;
}
.width-5 {
  width: 41.66666667%;
}
.width-6 {
  width: 50%;
}
.width-7 {
  width: 58.33333333%;
}
.width-8 {
  width: 66.66666667%;
}
.width-9 {
  width: 75%;
}
.width-10 {
  width: 83.33333333%;
}
.width-11 {
  width: 91.66666667%;
}
.width-12 {
  width: 100%;
}
@media (max-width: 768px) {
  row {
    margin-bottom: 0;
  }
  row [offset] {
    margin-left: 0;
  }
  row column[cols] {
    margin-right: 0;
    width: 100%;
    margin-bottom: 24px;
  }
  row row column:last-child {
    margin-bottom: 0;
  }
  .width-1,
  .width-2,
  .width-3,
  .width-4,
  .width-5,
  .width-6,
  .width-7,
  .width-8,
  .width-9,
  .width-10,
  .width-11,
  .width-12 {
    width: 100%;
  }
}
/* =Tables
-----------------------------------------------------------------------------*/
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
table caption {
  text-transform: uppercase;
  padding: 0;
  color: #000;
  font-size: 11px;
  font-weight: bold;
}
table th,
table td {
  font-size: 94%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 16px;
  padding-bottom: 15px;
}
table th:first-child,
table td:first-child {
  padding-left: 0;
}
table th:last-child,
table td:last-child {
  padding-right: 0;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.5);
}
/* =Forms
-----------------------------------------------------------------------------*/
form {
  margin-bottom: 24px;
}
select[multiple="multiple"],
textarea {
  width: 100%;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 0.9rem 1rem;
  line-height: 1;
  height: 40px;
  outline: none;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
}
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="text"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  opacity: 0.55;
  cursor: default;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
}
select[multiple],
textarea {
  height: auto;
  line-height: 1.5;
}
textarea {
  font-size: 15px;
}
textarea:focus,
select:focus,
input:focus {
  outline: none;
  background: #fff;
  border: 1px solid #222;
}
fieldset {
  padding: 31px 32px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: 500;
  font-size: 86%;
  text-transform: uppercase;
  padding: 0 1em;
  margin-left: -1em;
  top: 2px;
  position: relative;
  line-height: 0;
}
.forms section {
  display: block;
}
.forms section,
.forms p {
  margin-bottom: 24px;
}
.forms textarea,
.forms select,
.forms input[type="email"],
.forms input[type="number"],
.forms input[type="search"],
.forms input[type="text"],
.forms input[type="tel"],
.forms input[type="url"],
.forms input[type="password"] {
  width: 100%;
  display: block;
}
.forms label {
  font-size: 94%;
  display: block;
}
.forms label.checkbox {
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
.forms .label-top {
  padding-top: 24px;
}
.forms .checkbox-list {
  display: block;
}
.forms .checkbox-list label {
  font-size: inherit;
  color: inherit;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 16px;
  text-transform: none;
  font-weight: normal;
}
.forms .checkbox-list-vertical .checkbox {
  margin-bottom: 8px;
}
.forms .checkbox-list-vertical .checkbox:last-child {
  margin-bottom: 0;
}
.forms input.width-1,
.forms textarea.width-1,
.forms select.width-1 {
  width: 8.33333333%;
}
.forms input.width-2,
.forms textarea.width-2,
.forms select.width-2 {
  width: 16.66666667%;
}
.forms input.width-3,
.forms textarea.width-3,
.forms select.width-3 {
  width: 25%;
}
.forms input.width-4,
.forms textarea.width-4,
.forms select.width-4 {
  width: 33.33333333%;
}
.forms input.width-5,
.forms textarea.width-5,
.forms select.width-5 {
  width: 41.66666667%;
}
.forms input.width-6,
.forms textarea.width-6,
.forms select.width-6 {
  width: 50%;
}
.forms input.width-7,
.forms textarea.width-7,
.forms select.width-7 {
  width: 58.33333333%;
}
.forms input.width-8,
.forms textarea.width-8,
.forms select.width-8 {
  width: 66.66666667%;
}
.forms input.width-9,
.forms textarea.width-9,
.forms select.width-9 {
  width: 75%;
}
.forms input.width-10,
.forms textarea.width-10,
.forms select.width-10 {
  width: 83.33333333%;
}
.forms input.width-11,
.forms textarea.width-11,
.forms select.width-11 {
  width: 91.66666667%;
}
.forms input.width-12,
.forms textarea.width-12,
.forms select.width-12 {
  width: 100%;
}
.forms.form-inline textarea,
.forms .form-inline textarea,
.forms.form-inline select,
.forms .form-inline select,
.forms.form-inline input[type="email"],
.forms .form-inline input[type="email"],
.forms.form-inline input[type="number"],
.forms .form-inline input[type="number"],
.forms.form-inline input[type="search"],
.forms .form-inline input[type="search"],
.forms.form-inline input[type="text"],
.forms .form-inline input[type="text"],
.forms.form-inline input[type="tel"],
.forms .form-inline input[type="tel"],
.forms.form-inline input[type="url"],
.forms .form-inline input[type="url"],
.forms.form-inline input[type="password"],
.forms .form-inline input[type="password"],
.forms.form-inline .tools-select,
.forms .form-inline .tools-select {
  width: auto;
  display: inline-block;
}
@media (max-width: 768px) {
  .forms .label-top {
    padding-top: 0;
  }
  .forms input.width-1,
  .forms textarea.width-1,
  .forms select.width-1,
  .forms input.width-2,
  .forms textarea.width-2,
  .forms select.width-2,
  .forms input.width-3,
  .forms textarea.width-3,
  .forms select.width-3,
  .forms input.width-4,
  .forms textarea.width-4,
  .forms select.width-4,
  .forms input.width-5,
  .forms textarea.width-5,
  .forms select.width-5,
  .forms input.width-6,
  .forms textarea.width-6,
  .forms select.width-6,
  .forms input.width-7,
  .forms textarea.width-7,
  .forms select.width-7,
  .forms input.width-8,
  .forms textarea.width-8,
  .forms select.width-8,
  .forms input.width-9,
  .forms textarea.width-9,
  .forms select.width-9,
  .forms input.width-10,
  .forms textarea.width-10,
  .forms select.width-10,
  .forms input.width-11,
  .forms textarea.width-11,
  .forms select.width-11,
  .forms input.width-12,
  .forms textarea.width-12,
  .forms select.width-12 {
    width: 100%;
  }
}
/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
  display: inline-block;
  vertical-align: top;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 32px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
  color: #000000;
  background: #e5e5e5;
}
.btn:hover,
button:hover {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.btn::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn[disabled],
button[disabled] {
  cursor: default;
  box-shadow: none;
  opacity: 0.4;
}
.btn[disabled]:hover,
button[disabled]:hover {
  background: #e5e5e5;
  color: #000000;
  text-decoration: none;
}
