/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
	display: inline-block;
	vertical-align: top;

	font-family: @font-family-base;
	font-size: @font-size-btn-normal;
	font-weight: normal;

	white-space: nowrap;

	padding: @padding-btn;
	height: @input-height;
	line-height: @input-height;

    text-align: center;
	text-decoration: none;

	-webkit-appearance: none;

	outline: none;
	margin: 0;
	border: none;
	border-radius: @global-radius;
	box-shadow: none;
	cursor: pointer;
	color: rgba(0, 0, 0, 1);
	background: @color-default;

	&:hover {
		color: rgba(0, 0, 0, .6);
		text-decoration: none;
	}
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	&[disabled] {
		cursor: default;
		box-shadow: none;
		opacity: 0.4;

		&:hover {
			background: @color-default;
			color: rgba(0, 0, 0, 1);
			text-decoration: none;
		}
	}
	
}



