.btn,
button {


	&:hover {
	}
	&::-moz-focus-inner {
	}
	&[disabled] {

		&:hover {
		}
	}
	
}


// BUTTON
input[type="submit"],
.z-button {
	display: block;
	float: left;
	height: 42px;
	color: #ffffff;
	font-family: @font-regular;
	font-size: 18px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	padding: 0 15px;
	margin: 0 20px 20px 0;
	background-color: @color-orange;
	border-radius: 6px;
	box-sizing: border-box;
	
	
	&[secondary] {
		background-color: @color-dark;
	}
	
	&[disabled] {
		color: @color-mid;
		background-color: @color-light;
		pointer-events: none;
	}
	
	&:hover {
		background-color: @color-blue;
	}
}
