// Typography
html {}

body {
	font-family: @font-family-base;
	font-size: @font-size;
	line-height: @base-line;
	background: @background-body;
	color: @color-body;
}

// Links
a {
	color: @color-link;
	&:hover {
		color: @color-link-hover;
	}
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {}
h2,
h3,
h4,
h5,
h6 {}

h1,
h2,
h3,
h4 {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
figure,
address {
	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
	}
}

// Line height and margin
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
	margin: 0;
}
ol ol li {
	list-style-type: lower-alpha;
}
ol ol ol li {
	list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
fieldset,
figure,
address,
output {}

